body {
    font-family: "Poppins", sans-serif;
}

.page-content {
    margin-top: 100px;
}

footer {
    border-top: 1px solid #9cecae;
    margin-top: 150px;

    p {
        color: #011a05;
    }
}

.fore-control {
    background-color: #698507;
}
